/* title {
    font-style: italic;
} */

body {
    background-color: white;
}

.topHeaderBanner {
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    height: 85px;
    width: 100%;
}

.topHeaderBanner h1 {
    padding-bottom: 2px;
    display: inline-block;
    font-size: 46px;
    font-family: 'Century Gothic', 'Code2000','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: cadetblue;
    height: 50px;
    width: 475px;
}

.topHeaderBanner div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: cadetblue;
}

.topHeaderBanner div ul {
    list-style-type: none;
}

.topHeaderBanner div ul li {
    display: inline-block;
    margin-left: 25px;
}

.navBar ul li a.active, .navBar ul li a:hover {
    background-color: white;
    color: cadetblue;
}

a {
    color: cadetblue;
}
.subHeaderBanner {
    background-image: url(docs/Media/images/subHeaderBanner_background.png);
    background-color: white; /* This is for when the image does not show */
    height: 187px;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat; /* I do not want my image to repeat itself: just adjust the size. */
    background-size: cover;
}

.subHeaderBanner h3 {
    display: inline-block;
    font-size: 22px;
    font-family: 'Century Gothic', 'Code2000','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: cadetblue;
    height: 25px;
    width: 275px;
}