body{
    background-color: rgb(122, 103, 16);
    color: whitesmoke;
}

.topHeaderBanner {
    padding-top: 2px;
    padding-bottom: 5px;
    color: rgb(122, 103, 16);
    background-color: rgb(67, 32, 78);
    height: 85px;
    width: 100%;
}

.topHeaderBanner h1 {
    text-align: center;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 46px;
    font-family: 'Century Gothic', 'Code2000','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(67, 32, 78);
    background-color: rgb(122, 103, 16);
    height: 50px;
    width: 475px;
}

.topHeaderBanner nav {
    padding-top: 35px;
    margin-right: 50px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(122, 103, 16);
}

.nav a.active, .nav a:hover {
    color: rgb(122, 103, 16);
    background-color: rgb(67, 32, 78);
}

a {
    color: rgb(122, 103, 16);
    background-color: rgb(67, 32, 78);
}

.sidebar h2 {
    float: left;
    border: rgb(27, 36, 56);
    padding: 100px;
    display: inline-block;
    font-size: 32px;
    font-family: 'Century Gothic', 'Code2000','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(67, 32, 78);
}

.sidebar p{
    display: wrap;
    font-size: 20px;
    font-family: 'Century Gothic', 'Code2000','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(67, 32, 78);
}

/* Deployed Project Button Style */
#code {
	box-shadow: 3px 4px 0px 0px #21338a;
	background:linear-gradient(to bottom, #c4ae20 5%, #8838f0 100%);
	background-color:#7520c4;
	border-radius:18px;
	border:1px solid #cfc019;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #857e3d;
}

#code:hover {
	background:linear-gradient(to bottom, #3e38f0 5%, #c4ae20 100%);
	background-color:#3e38f0;
}

#code:active {
	position:relative;
	top:1px;
}

.project-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.Project {
    flex-grow: 3;
    align-items: center;
}

.live {

}

#proPic {
    width: 225px;
    height: 245px;
    float: left;
    padding: 12px;
}

.wrapper {
    margin-right: 15%;
}

.contact {
   padding: 5px;
}

/* .UWBC {
    width: 225px;
    height: 245px;
    float: right;
} */